<div class="filter-editor__wrapper">

    <div class="added--block" ng-if="!vm.hasGroups && vm.editable">
        <button class="added--button" ng-click="vm.addFilterGroup()">
            Добавить фильтр
        </button>
    </div>

    <div class="filter-editor__content" ng-if="vm.hasGroups">

        <div class="filter-editor__header">
            <h4>Фильтры</h4>
        </div>
        <div class="filter-editor__group-item" ng-repeat="group in vm.data">
            <filters-group data="group"
                           remove-request="vm.removeGroup(group.id)"
                           status="vm.status"></filters-group>

            <div class="added--condition" ng-if="vm.editable" ng-click="vm.insertFilterGroup($index+1)">
                <hr/>
                <span class="condition--filters">ИЛИ</span>
            </div>

        </div>

    </div>

</div>
