<div class="mailing-new__wrapper">
    <div class="mailing-new__header">
        <div class="nav--block">
            <go-back class="go--back" default-state="'mailing.mainPage'"></go-back>
            <h1 ui.tinymce="vm.headerEditorConfig" rows="5" ng-model="vm.name" ng-disabled="!vm.editable">
            </h1>

            <div class="buttons--submit" ng-if="vm.editable">
                <button class="run--mailing" ng-click="vm.save()">
                    Сохранить
                </button>
                <button class="run--mailing" ng-click="vm.start()" ng-if="vm.showStart">
                    Запустить
                </button>
            </div>
            <div class="m-r-md" ng-if="!vm.editable">
                <h3 ng-style="{'color': vm.statusColor}">{{vm.statusName}}</h3>
            </div>
        </div>
        <div class="name--block">
            <div class="message--block">
                <h4>Сообщения</h4>
            </div>
            <div class="filters--block">
                <h4>Боты и фильтры</h4>
            </div>
        </div>
    </div>
    <div class="mailing-new__content">
        <div class="content--block">
            <mailing.messages class="messages--edit"
                              data="vm.messages"
                              id="vm.id"
                              status="vm.status"
            ></mailing.messages>
        </div>
        <div class="content--block">
            <mailing.selected-bots class="selection--bots"
                                   data="vm.selectedBots"
                                   status="vm.status"
            ></mailing.selected-bots>
                <mailing.filters class="mailing--filters"
                             data="vm.filterGroups"
                             status="vm.status"
            ></mailing.filters>
        </div>
    </div>
</div>
