.mailing-new__wrapper {
    width: 100%;
    height: 100%;
    .d-flex(@alignItems: unset, @justifyContent: unset, @flexDirection: row, @flexWrap: unset) {
        display: flex;
        flex-direction: @flexDirection;
        align-items: @alignItems;
        justify-content: @justifyContent;
        flex-wrap: @flexWrap;
    }
    .mailing-new__buttons(@margin: 0) {
        margin: @margin;
        color: white;
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        border: 1px solid #23b7e5;
        background-color: #23b7e5;
        font-size: 20px;
        padding: 5px 10px;
        font-weight: 400;
        text-align: center;
        cursor: pointer;
        outline: none;
    }
    .mailing-new__heightContent {
        height: 82vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .text--condition(@width) {
        text-align: center;
        background: #f0f3f4;
        display: block;
        width: @width;
        margin: -30px auto 0 auto;
        color: #3498db;
    }
    .mailing-new__block--wrapper {
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 6px;
        background-color: #ffffff;
    }
    .dropdown-menu {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .error-bots {
        border: 2px solid #f00;
    }
    .added--condition {
        cursor: pointer;
        hr {
            border-color: #3498db;
        }
        .condition--filters {
            .text--condition(50px);
        }
        .condition--messages {
            .text--condition(175px);
        }
    }
    .mailing-new__description(@margin: 0) {
        margin: @margin;
        color: #58666e;
    }
    .mailing-new__header {
        .d-flex(center, flex-start, column);
        width: 100%;
        .nav--block {
            h1 {
                margin: 0;
            }
            .d-flex(center, space-between);
            width: 100%;
            .go--back {
                border-right: 2px solid #dee5e7;
                padding: 20px 30px;
            }
            .buttons--submit {
                .d-flex(center, space-between);
                .run--mailing {
                    .mailing-new__buttons(10px 20px);
                    &:disabled {
                        opacity: 0.5%;
                    }
                }
            }
        }
        .name--block {
            .d-flex(center, space-between);
            width: 100%;
            border-top: 2px solid #dee5e7;
            border-bottom: 2px solid #dee5e7;
            .message--block,
            .filters--block {
                .d-flex(center, flex-start);
                padding: 18px;
                h4 {
                    .mailing-new__description;
                }
            }
            .message--block {
                width: 40%;
            }
            .filters--block {
                width: 60%;
                border-left: 2px solid #dee5e7;
            }
        }
    }
    .mailing-new__content {
        .d-flex(center, space-between);
        width: 100%;
        .content--block {
            .d-flex(stretch, flex-start, column);
            .mailing-new__heightContent;
            .added--block {
                .d-flex(center, center);
                .added--button {
                    .mailing-new__buttons(20px 0 0 0);
                }
            }
            &:nth-child(1) {
                width: 40%;
                .messages--edit {
                    .messages-editor__wrapper {
                        width: 100%;
                        height: 100%;
                        .messages-editor__item--group {
                            margin: 15px;
                            .dropzone {
                                border: none;
                                li {
                                    background-color: transparent;
                                }
                            }
                            .messages-editor__item {
                                .dndDragging {
                                    background-color: white !important;
                                }
                                .dndPlaceholder {
                                    background-color: #e0ebee !important;
                                }
                                .handle {
                                    .d-flex(center, center);
                                    font-size: 5px;
                                    padding: 3px 20px;
                                    border-radius: 25px;
                                    i {
                                        margin-left: 2px;
                                        &:nth-child(1) {
                                            margin-left: 0;
                                        }
                                    }
                                }
                                margin-top: 15px;
                                .mailing-new__block--wrapper;
                                .panel-heading,
                                .panel-body {
                                    border-radius: 6px;
                                    background-color: white;
                                    padding: 0 15px 15px 15px;
                                    .form-control {
                                        border-radius: 6px;
                                    }
                                }
                                .panel-heading {
                                    border-radius: 0;
                                    &__nav-drag {
                                        .d-flex(center, space-between);
                                        margin: 10px 0;
                                    }
                                }
                                .messages-editor__item--wrapper {
                                    .message--item__wrapper {
                                        border: 1px solid #cfdadd;
                                        border-radius: 6px;
                                        margin: 10px 0;
                                        .message--item__content {
                                            padding: 10px;
                                            .message-editor__handle {
                                                .d-flex(center, space-between);
                                                width: 100%;
                                                margin-bottom: 10px;
                                            }
                                            .mailing--text__added-field {
                                                border-radius: 9px;
                                                border: 1px solid #3498db;
                                                background-color: #3498db;
                                                color: white;
                                            }
                                            .mailing--text__component {
                                                .mailing--text__wrapper {
                                                    .selected--field__block {
                                                        .d-flex(center, flex-start, row, wrap);
                                                        width: 100%;
                                                        margin: 10px 0;
                                                        .selected--field__item {
                                                            border-radius: 10px;
                                                            border: 1px solid #3498db;
                                                            background-color: #ffffff;
                                                            color: #707070;
                                                            font-size: 14px;
                                                            font-weight: 400;
                                                            padding: 2px 5px;
                                                            margin: 2px;
                                                        }
                                                    }
                                                    .mailing--text__input {
                                                        position: relative;
                                                        border-color: transparent;
                                                        border-radius: 15px;
                                                        background-color: #3498db;
                                                        color: white;
                                                        padding: 15px;
                                                        resize: none;
                                                        overflow: auto;
                                                        outline: none;
                                                    }
                                                }
                                            }
                                            .mailing--link__component {
                                                .mailing--link__wrapper {
                                                    .panel {
                                                        border: none;
                                                        box-shadow: none;
                                                        margin-bottom: 0;
                                                        .panel-body {
                                                            padding: 0;
                                                            .mailing--link__form {
                                                                .d-flex(flex-start, center, column);
                                                                border-radius: 4px;
                                                                border: 1px solid #dee5e7;
                                                                background-color: #edf1f2;
                                                                padding: 10px;
                                                                width: 100%;
                                                                .link--close {
                                                                    .d-flex(center, flex-end);
                                                                    width: 100%;
                                                                }
                                                                .link--field {
                                                                    width: 100%;
                                                                    margin: 8px 0;
                                                                    .form-control {
                                                                        height: 26px;
                                                                        border-radius: 6px;
                                                                        background-color: #ffffff;
                                                                    }
                                                                }
                                                                .link--submit {
                                                                    .d-flex(center, flex-start);
                                                                    width: 100%;
                                                                    margin-top: 10px;
                                                                    .btn {
                                                                        .d-flex(center, center);
                                                                        border-radius: 5px;
                                                                        border: 1px solid #3498db;
                                                                        background-color: #3498db;
                                                                        color: white;
                                                                        padding: 0 40px;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                    .mailing--link__view {
                                                        .d-flex(center, space-between);
                                                        border-radius: 16px;
                                                        border: 3px solid #3498db;
                                                        background-color: #3498db;
                                                        cursor: pointer;
                                                        .url--selected {
                                                            .btn {
                                                                color: #3498db !important;
                                                                padding: 5px 10px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                            .mailing--image__component {
                                                .mailing--image__header {
                                                    .d-flex(center, flex-end);
                                                }
                                                .background-image {
                                                    padding: 0;
                                                    .d-flex(center, center, column);
                                                    .background-image-area {
                                                        border-radius: 14px;
                                                        border: 1px solid #707070;
                                                        background-color: #ffffff;
                                                        width: 100%;
                                                        .image--block {
                                                            padding: 0 36px;
                                                            background-size: contain;
                                                        }
                                                    }
                                                }
                                            }
                                            .mailing--audio__component {
                                                .mailing--audio__wrapper {
                                                    .mailing--audio__header {
                                                        .d-flex(center, space-between);
                                                        width: 100%;
                                                        .nav--block__audio {
                                                            .d-flex(flex-start, flex-start, column);
                                                            .mailing--audio__load {
                                                                border-radius: 5px;
                                                                border: 1px solid #3498db;
                                                                background-color: #3498db;
                                                                color: white;
                                                                padding: 0 40px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .panel-footer {
                                        border: none;
                                        padding: 10px;
                                        .btn {
                                            color: #3498db;
                                            font-size: 14px;
                                            font-weight: 500;
                                            border: none;
                                            box-shadow: none;
                                            background-color: transparent;
                                        }
                                        .messages--editor__instant--send {
                                            .d-flex(center, flex-end, row-reverse);
                                            width: 100%;
                                            margin: 15px 0 0 0;
                                            .instant--send__label {
                                                color: #707070;
                                                font-size: 20px;
                                                font-weight: 400;
                                                margin: 0 0 0 10px;
                                            }
                                            .checkbox {
                                                .i-checks {
                                                    input {
                                                        &:checked + i {
                                                            border-color: #3498db;
                                                            &:before {
                                                                background-color: #3498db;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .messages--editor__date--send {
                                            .d-flex(center, flex-start);
                                            margin-top: 10px;
                                            .date--send__label {
                                                color: #707070;
                                                font-size: 20px;
                                                font-weight: 400;
                                                margin-right: 10px;
                                                margin-bottom: 0;
                                            }
                                            .messages--editor__date--send--block {
                                                .d-flex(center, flex-start, row, wrap);
                                                width: auto;
                                                .date--send__timeField,
                                                .date--send__dateField {
                                                    margin-bottom: 0;
                                                    border-radius: 5px;
                                                    border: 1px solid #dee5e7;
                                                    padding: 0 10px;
                                                    color: #707070;
                                                    font-size: 20px;
                                                    font-weight: 400;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &:nth-child(2) {
                width: 60%;
                border-left: 2px solid #dee5e7;
                .selection--bots {
                    width: 100%;
                    .selected--bots__wrapper {
                        .d-flex(center, center, column);
                        width: 100%;
                        .bots--block__null {
                            .d-flex(center, center);
                            margin-top: 20px;
                            .added--bots__null {
                                .mailing-new__buttons;
                            }
                        }
                        .bots--block {
                            h4 {
                                width: 100%;
                                text-align: left;
                                margin-top: 17px;
                                margin-bottom: 15px;
                            }
                            .d-flex(stretch, flex-start, row, wrap);
                            width: 100%;
                            margin-left: 45px;
                            .selected--bots__item {
                                width: 196px;
                                border: 1px solid #dee5e7;
                                background-color: #ffffff;
                                margin: 5px;
                                .selected--bots__item--wrapper {
                                    .d-flex(center, center, column);
                                    width: 100%;
                                    height: 100%;
                                    padding: 7px;
                                    .item--header {
                                        .d-flex(center, flex-end);
                                        width: 100%;
                                        i {
                                            cursor: pointer;
                                        }
                                    }
                                    .item--view {
                                        .d-flex(center, center, column);
                                        width: 100%;
                                        height: 100%;
                                        .item--settings__block {
                                            .d-flex(center, center, row, wrap);
                                            width: 100%;
                                            .item--settings__item {
                                                background-position: center;
                                                background-size: cover;
                                                width: 30px;
                                                height: 30px;
                                                margin-left: 5px;
                                                &:nth-child(1) {
                                                    margin-left: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .added--bots__wrapper {
                                .d-flex(center, center);
                                .added--bots {
                                    .mailing-new__buttons(0 0 0 10px);
                                }
                            }
                        }
                    }
                }
                .mailing--filters {
                    .filter-editor__wrapper {
                        width: 100%;
                        height: 100%;
                        .added--block {
                            .d-flex(center, center);
                            .added--filter {
                                .mailing-new__buttons;
                            }
                        }
                        .filter-editor__content {
                            width: 100%;
                            height: 100%;
                            .filter-editor__header {
                                .d-flex(center, space-between);
                                width: 100%;
                                margin-bottom: 30px;
                                h4 {
                                    .mailing-new__description(0 0 0 30px);
                                }
                                .save--button {
                                    .mailing-new__buttons(10px 30px);
                                }
                            }
                            .filter-editor__group-item {
                                margin: 0 30px 10px 30px;
                                .filters-group {
                                    .panel {
                                        .mailing-new__block--wrapper;
                                        .panel-heading {
                                            .d-flex(center, flex-start);
                                        }
                                        .panel-footer {
                                            .btn {
                                                color: #3498db !important;
                                                font-size: 14px;
                                                font-weight: 400;
                                                border: none;
                                                box-shadow: none;
                                                padding-left: 0;
                                                padding-right: 0;
                                                &:hover {
                                                    background-color: transparent;
                                                }
                                            }
                                        }
                                        .condition--item {
                                            .filter-condition__wrapper {
                                                .panel {
                                                    border-radius: 4px;
                                                    border: 1px solid #dee5e7;
                                                    .panel-heading,
                                                    .panel-body {
                                                        background-color: #edf1f2;
                                                        .form-group {
                                                            .form-control {
                                                                border-radius: 6px;
                                                            }
                                                        }
                                                    }
                                                    .panel-heading {
                                                        .d-flex(center, space-between);
                                                        border-bottom: 1px solid #dee5e7;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
