<div class="messages-editor__wrapper">
    <div class="added--block" ng-if="!vm.hasMessages && vm.editable">
        <button class="added--button" ng-click="vm.addMessage()">
            Добавить сообщение
        </button>
    </div>
    <div class="messages-editor__item--group">
        <ul dnd-list="vm.messages"
            ng-class="{'dropzone b-t': vm.editable}"
            dnd-drop="callback({targetIndex: index})"
            dnd-allowed-types="['message']">
            <li ng-repeat="item in vm.messages"
                dnd-type="'message'"
                dnd-draggable="item"
                dnd-effect-allowed="move"
                dnd-callback="vm.onDrop($index, targetIndex)">
                <message-condition data="item"
                                   remove-request="vm.removeMessage(item.id)"
                                   status="vm.status"
                ></message-condition>
            </li>
        </ul>
        <div class="added--condition" ng-click="vm.addMessage()" ng-if="vm.hasMessages && vm.editable">
            <hr/>
            <span class="condition--messages">+ добавить сообщение</span>
        </div>
    </div>
</div>
