<div class="panel panel-default">
    <div class="panel-heading">
        <span>{{vm.fieldName}}</span>
        <i class="fa fa-times pull-right pointer" ng-if="vm.editable" ng-click="vm.remove()"></i>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <select class="form-control pointer"
                    ng-disabled="!vm.editable"
                    ng-options="condition.type as condition.text for condition in vm.conditions"
                    ng-model="vm.data.operand">
            </select>
        </div>
        <div class="form-group">
            <input class="form-control"
                   ng-if="!vm.tagIdentification"
                   ng-disabled="!vm.editable"
                   ng-model="vm.data.value"
                   type="{{vm.inputType}}"
                   placeholder="Значение">
            <tags-input ng-if="vm.tagIdentification"
                        ng-model="vm.selectedTags"
                        on-tag-adding="vm.attachTag($tag.text)"
                        on-tag-removing="vm.detachTag($tag.text)"
                        placeholder="Добавьте теги..."
                        min-length="1"
                        replace-spaces-with-dashes="false">
                <auto-complete source="vm.tagsAutocomplete($query)"
                               min-length="1"
                               debounce-delay="0"
                               load-on-focus="true"
                               load-on-empty="true"
                               max-results-to-show="100"
                ></auto-complete>
            </tags-input>
        </div>
    </div>
</div>
