.modal-content {
    .d-flex(@alignItems: unset, @justifyContent: unset, @flexDirection: row, @flexWrap: unset) {
        display: flex;
        flex-direction: @flexDirection;
        align-items: @alignItems;
        justify-content: @justifyContent;
        flex-wrap: @flexWrap;
    }
    .selection-bots-modal__wrapper {
        .close_button {
            position: absolute;
            width: 20px;
            height: 20px;
            font-size: 29px;
            right: 20px;
            top: 15px;
            cursor: pointer;
            &:before,
            &:after {
                content: "";
                background-color: #707070;
                width: 25px;
                height: 1px;
                position: absolute;
                transform: rotateZ(-45deg);
                top: 48%;
                right: -16%;
            }
            &:after {
                transform: rotateZ(45deg);
            }
        }
        .selected--bots__form {
            .d-flex(normal, center, column);
            padding: 40px;
            .selected--label {
                color: #59676f;
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 15px;
            }
            .selected--bots__tags {
                .host {
                    .tags {
                        border-radius: 5px;
                        width: 100%;
                        transition: all ease-in-out 0.5s;
                        .tag-item {
                            .d-flex(center, center);
                            border-radius: 10px;
                            border: 1px solid #3498db;
                            background-color: #ffffff;
                            margin: 5px;
                            .remove-button {
                                font-size: 25px;
                                vertical-align: unset;
                                margin: 0;
                            }
                        }
                        .input {
                            margin: 9px;
                            padding: 0;
                        }
                        ul {
                            li {
                                height: auto;
                                line-height: 0;
                                font-size: 20px;
                            }
                        }
                        input {
                            width: auto;
                        }
                    }
                }
            }
            .selected--description {
                margin-top: 5px;
                color: #59676f;
                font-size: 12px;
                font-weight: 400;
            }
            .selected--submit {
                .d-flex(center, flex-end);
                width: 100%;
                margin-top: 15px;
                .submit {
                    .d-flex(center, center);
                    border-radius: 5px;
                    border: 1px solid #23b7e5;
                    background-color: #23b7e5;
                    color: white;
                    font-size: 14px;
                    font-weight: 500;
                    width: 110px;
                }
            }
        }
    }
}
