<div class="selection-bots-modal__wrapper">
    <div class="close_button" ng-click="vm.close()"></div>
    <div class="selected--bots__form">
        <span class="selected--label">Боты для рассылки:</span>
        <div class="selected--bots__tags">
            <tags-input ng-model="vm.selectedBots"
                        placeholder="Выберите ботов..."
                        min-length="1"
                        replace-spaces-with-dashes="false"
                        add-from-autocomplete-only="true">
                <auto-complete source="vm.autocomplete($query)"
                               min-length="1"
                               load-on-focus="true"
                               load-on-empty="true"
                               max-results-to-show="50"
                ></auto-complete>
            </tags-input>
        </div>
        <div class="selected--description">
            Выберите ботов, участвующих в данной рассылке. Обратите внимание, что отправка будет осуществляться
            только тем пользователям, которые подписаны на конкретного бота.
        </div>
        <div class="selected--submit">
            <button class="btn submit" ng-disabled="!vm.selectedBots.length" ng-click="vm.save()">Готово</button>
        </div>
    </div>
</div>
