.modal-content {
    .get-name-modal__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 681px;
        height: 243px;
        .form--error {
            border-color: red;
        }
        .form--success {
            border-color: mediumspringgreen;
        }
        .get-name-modal__form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            margin: 20px 50px;
            width: 75%;
            height: 55%;
            .get-name-modal__label {
                color: #59676f;
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 0;
            }
            .get-name-modal__field {
                width: 100%;
                height: 40px;
                border-radius: 5px;
                border: 1px solid #dee5e7;
                background-color: #ffffff;
                padding: 5px 15px;
                transition: all ease-in-out 0.5s;
                &:required,
                &:invalid {
                    .form--error;
                }
                &:valid {
                    .form--success;
                }
            }
            .get-name-modal__submit--block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .get-name-modal__button {
                    width: 102px;
                    height: 27px;
                    border-radius: 5px;
                    border: 1px solid #23b7e5;
                    background-color: #23b7e5;
                    color: white;
                    transition: all ease-in-out 0.5s;
                    &:disabled {
                        background-color: rgba(35, 183, 229, 0.38);
                        border-color: rgba(35, 183, 229, 0.38);
                    }
                }
                .message--error {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: 50%;
                    word-break: break-word;
                }
            }
        }
    }
}
