<div class="get-name-modal__wrapper">
    <form class="get-name-modal__form" name="mailing_new">
        <label class="get-name-modal__label" for="mailing-name">Название:</label>
        <input class="get-name-modal__field"
               type="text"
               required
               id="mailing-name"
               name="name"
               placeholder="Название для вашей рассылки..."
               ng-model="vm.name">
        <div class="get-name-modal__submit--block">
            <div class="message--error">
                <span class="text-danger" ng-if="!vm.nameIsValid">Ошибка валидности поля</span>
            </div>
            <button class="get-name-modal__button"
                    type="submit"
                    ng-click="vm.close()"
                    ng-disabled="!vm.hasName">Готово</button>
        </div>
    </form>
</div>
