<div class="mailing-page__wrapper">
    <div class="mailing-page__header">
        <button class="btn landings-page__footer--createButton"
                ng-click="vm.createMailing()">
            <i class="fa fa-plus"></i>
            Создать рассылку
        </button>
    </div>
    <div class="mailing-page__content">
        <mailing-item class="mailing-item"
                      ng-repeat="mailing in vm.mailings track by mailing.id"
                      data="mailing"
                      on-deleted="vm.removeMailingFromList(mailing)"
                      on-duplicate="vm.duplicate(mailing.id)"
        ></mailing-item>
        <div ng-if="!vm.mailings.length"
             class="no--mailings">
            <h2 class="text-muted">Нет ни одной рассылки</h2>
        </div>
    </div>
</div>

