.mailing-page__wrapper {
    --state-mailing-color: transparent;
    .d-flex(@alignItems: unset, @justifyContent: unset, @flexDirection: row, @flexWrap: unset) {
        display: flex;
        flex-direction: @flexDirection;
        align-items: @alignItems;
        justify-content: @justifyContent;
        flex-wrap: @flexWrap;
    }
    .icon--background(@url, @width, @height) {
        background-image: url(@url);
        background-position: center;
        background-size: cover;
        width: @width;
        height: @height;
    }
    .mailing--block(@paddingLeft: 20px, @paddingRight: 20px) {
        background-color: #fff;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
        padding: 20px @paddingRight 20px @paddingLeft;
        border-left: 20px solid var(--state-mailing-color);
    }
    padding: 30px;
    .mailing-page__header {
        width: 100%;
        .d-flex(center, flex-end)
    }
    .mailing-page__content {
        width: 100%;
        .d-flex(center, flex-start, column)
    }
    .no--mailings {
        text-align: center;
        width: 100%;
    }
    .mailing-item {
        margin-top: 25px;
        width: 100%;
        .mailing-item__wrapper {
            width: 100%;
            .mailing-item__indicators {
                .d-flex(center, space-between);
                width: 100%;
                height: 50px;
                margin-bottom: 20px;
                &:nth-last-child(1) {
                    margin-bottom: 0;
                }
                .mailing-item__content {
                    &:nth-child(1) {
                        width: 45%;
                        .d-flex(center, space-between);
                        .content--block {
                            &:nth-child(1) {
                                .d-flex(flex-start, flex-start, column);
                            }
                            &:nth-child(2) {
                                .d-flex(center, space-between);
                                width: 40%;
                                .indicators {
                                    .d-flex(center, flex-start, column);
                                }
                                .no--length {
                                    .d-flex(center, center);
                                    width: 100%;
                                }
                            }
                        }
                    }
                    &:nth-child(2) {
                        width: 47%;
                        .d-flex(center, space-between);
                        .content--block {
                            width: 50%;
                            .d-flex(center, flex-end);
                            &:nth-child(1) {
                                width: 60%;
                                height: 55px;
                                .d-flex(flex-start, space-between, column, wrap);
                                .social--block {
                                    .d-flex(center, space-between);
                                    .vb {
                                        margin-right: 15px;
                                        .icon--background("/images/viber_mailing.png", 19px, 20px);
                                    }
                                    .vk {
                                        margin-right: 15px;
                                        .icon--background("/images/vkontakte_mailing.png", 20px, 12px);
                                    }
                                    .tg {
                                        margin-right: 15px;
                                        .icon--background("/images/telegram_mailing.png", 19px, 16px);
                                    }
                                    .wa {
                                        margin-right: 15px;
                                        .icon--background("/images/whatsapp_mailing.png", 19px, 19px);
                                    }
                                    .ig {
                                        margin-right: 15px;
                                        .icon--background("/images/instagram_mailing.png", 18px, 18px);
                                    }
                                    .fb {
                                        margin-right: 15px;
                                        .icon--background("/images/facebook_mailing.png", 18px, 19px);
                                    }
                                }
                            }
                            &:nth-child(2) {
                                width: 20%;
                                .d-flex(center, space-between);
                                .expanding--mailings {
                                    cursor: pointer;
                                    transition: all ease-in-out .3s;
                                    .icon--background("/images/arrow_mailing.png", 16px, 12px);
                                }
                                .settings--mailings {
                                    position: relative;
                                    .d-flex(center, space-between);
                                    width: 35px;
                                    cursor: pointer;
                                    div {
                                        .icon--background("/images/nav_mailing.png", 11px, 11px);
                                    }
                                    .dropdown-menu {
                                        width: 30px;
                                        left: -102px;
                                        li {
                                            .d-flex(center, flex-start);
                                            padding: 10px;
                                            strong {
                                                margin-left: 15px;
                                            }
                                            i {
                                                font-weight: 600;
                                            }
                                            &:hover {
                                                i, strong {
                                                    color: #848eff;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .mailing-item__mainContent {
                position: relative;
                .mailing--block;
                .d-flex(center, space-between);
            }
            .mailing-item__chain {
                .d-flex(center, center);
                width: 100%;
                .chain--item {
                    .mailing--block(0px, 0px);
                    .d-flex(flex-start, flex-start, column);
                    width: 100%;
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
        }
    }
}
