<div class="panel filters-group" ng-if="vm.showComponent">
    <div class="panel-heading" ng-if="vm.editable">
        <a href ng-click="vm.delete()" class="pull-right"><i class="fa fa-times"></i> Удалить</a>
    </div>

    <div class="panel-body" ng-if="vm.conditions.length">
        <div ng-repeat="condition in vm.conditions" class="col-xs-6 condition--item">
            <filter-condition class="filter-condition__wrapper"
                              ng-if="vm.editable || condition"
                              data="condition"
                              remove-request="vm.removeCondition(condition.id)"
                              status="vm.status">
            </filter-condition>
        </div>
    </div>
    <div class="panel-footer" ng-if="vm.editable">
        <div class="btn-group btn-group-xs">
            <button type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <i class="fa fa-plus"></i> Добавить условие
            </button>
            <ul class="dropdown-menu">
                <li><a href ng-click="vm.createTagCondition()">Проверить Тэг</a></li>
                <li role="separator" class="divider"></li>
                <li ng-repeat="field in vm.fields"><a href ng-click="vm.createCondition(field)">{{field.text}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
