<div class="mailing-item__content">
    <div ng-class="['content--block', {'pointer': vm.isInnerItem}]"
         ng-click="vm.edit()">
        <h4 class="text-black">{{vm.name}}</h4>
        <strong class="text-muted">
            <span ng-if="!vm.dateSend">Мгновенная отправка</span>
            <date-format ng-if="vm.dateSend" date="vm.dateSend"></date-format>
        </strong>
    </div>
    <div class="content--block" ng-if="vm.isEmptyMessengers">
        <div class="text-muted indicators">
            <strong>Отправлено</strong>
            <strong>{{vm.sent}}</strong>
        </div>
        <div class="text-muted indicators">
            <strong>Доставлено</strong>
            <strong>{{vm.delivered}}</strong>
        </div>
        <div class="text-muted indicators">
            <strong>Клики</strong>
            <strong>{{vm.clicked}}</strong>
        </div>
    </div>
    <div class="content--block" ng-if="!vm.isEmptyMessengers">
        <div class="no--length">
            <strong class="text-muted">Нет данных</strong>
        </div>
    </div>
</div>
<div class="mailing-item__content">
    <div class="content--block">
        <mailing-social class="social--block"
                        ng-repeat="messenger in vm.messengers"
                        data="messenger">
        </mailing-social>
    </div>
    <div class="content--block"
         ng-style="!vm.isInnerItem && {'justify-content': 'flex-end'}">
        <div class="expanding--mailings"
             ng-click="vm.openMinMailing()"
             ng-style="!vm.stateChain ? {'transform': 'rotate(-180deg)'} : {'transform': 'rotate(0)'}"
             ng-if="vm.isInnerItem"></div>
        <div class="settings--mailings"
             ng-if="vm.isInnerItem"
             uib-dropdown
             uib-dropdown-toggle
             aria-haspopup="true"
             aria-expanded="false">
            <div></div>
            <div></div>
            <div></div>
            <ul class="dropdown-menu animated fadeInRight w">
                <li ng-click="vm.edit()">
                    <i class="fa fa-edit"></i>
                    <strong class="text-muted">Редактировать</strong>
                </li>
                <li ng-click="vm.duplicate()">
                    <i class="fa fa-copy"></i>
                    <strong class="text-muted">Дублировать</strong>
                </li>
                <li ng-click="vm.delete()">
                    <i class="fa fa-trash"></i>
                    <strong class="text-muted">Удалить</strong>
                </li>
            </ul>
        </div>
    </div>
</div>
