<div class="panel panel-default messages-editor__item" dnd-nodrag>
    <div class="panel-heading">
        <div class="panel-heading__nav-drag">
            <button dnd-handle class="btn btn-sm btn-default handle" uib-tooltip="Перетащить"
                    tooltip-placement="top">
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
                <i class="fa fa-circle"></i>
            </button>
            <i class="fa fa-times pull-right pointer" ng-if="vm.editable" ng-click="vm.remove()"></i>
        </div>
        <input type="text"
               class="form-control"
               ng-disabled="!vm.editable"
               ng-model="vm.data.name"
               placeholder="Название сообщения...">
    </div>
    <div class="panel-body">
        <div class="messages-editor__item--wrapper">
            <ul dnd-list="vm.items"
                class="dropzone b-t"
                dnd-drop="callback({targetIndex: index})"
                dnd-allowed-types="['item_{{vm.data.id}}']">
                <li ng-repeat="item in vm.items"
                    dnd-type="'item_{{vm.data.id}}'"
                    dnd-draggable="item"
                    dnd-callback="vm.onDrop($index, targetIndex)"
                    dnd-effect-allowed="move">
                    <div class="message--item__wrapper" dnd-nodrag>
                        <div class="message--item__content">
                            <div class="message-editor__handle" ng-if="vm.editable">
                                <button dnd-handle class="btn btn-sm btn-default handle" uib-tooltip="Перетащить"
                                        tooltip-placement="top">
                                    <i class="fa fa-circle"></i>
                                    <i class="fa fa-circle"></i>
                                    <i class="fa fa-circle"></i>
                                </button>
                                <i class="fa fa-times pull-right pointer" ng-click="vm.removeItem(item.id)"></i>
                            </div>
                            <mailing-text class="mailing--text__component"
                                          ng-if="vm.showItemByType(vm.fieldTypes.text, item.type)"
                                          data="item"
                                          status="vm.status"
                            ></mailing-text>
                            <mailing-link class="mailing--link__component"
                                          ng-if="vm.showItemByType(vm.fieldTypes.link, item.type)"
                                          data="item"
                                          status="vm.status"
                            ></mailing-link>
                            <mailing-audio class="mailing--audio__component"
                                           ng-if="vm.showItemByType(vm.fieldTypes.audio, item.type)"
                                           data="item"
                                           status="vm.status"
                            ></mailing-audio>
                            <mailing-image class="mailing--image__component"
                                           ng-if="vm.showItemByType(vm.fieldTypes.image, item.type)"
                                           data="item"
                                           status="vm.status"
                            ></mailing-image>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="panel-footer">
                <div class="btn-group btn-group-xs" ng-if="vm.editable">
                    <button type="button"
                            class="btn dropdown-toggle"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <i class="fa fa-plus"></i>
                        Прикрепить
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="field in vm.fields">
                            <a href ng-click="vm.createItem(field)">{{field}}</a>
                        </li>
                    </ul>
                </div>
                <div class="messages--editor__instant--send" ng-if="vm.instantSendVisible">
                    <label class="instant--send__label" for="instant_send">Мгновенная отправка</label>
                    <div class="checkbox" ng-disabled="!vm.editable">
                        <label class="i-checks">
                            <input type="checkbox"
                                   ng-disabled="!vm.editable"
                                   id="instant_send"
                                   ng-model="vm.instantSend"/>
                            <i></i>
                        </label>
                    </div>
                </div>
                <div class="messages--editor__date--send" ng-if="vm.sendAtVisible">
                    <label class="date--send__label">Дата отправки:</label>
                    <div class="messages--editor__date--send--block">
                        <input class="form-control date--send__dateField"
                               ng-disabled="!vm.editable"
                               ng-model="vm.sendAt"
                               ui-mask="99-99-9999 99:99"
                               format="DD-MM-YYYY HH:mm"
                               ng-model-options="{updateOn: 'blur'}"
                               placeholder="DD-MM-YYYY HH:mm">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
