<div class="selected--bots__item--wrapper">
    <div class="item--header">
        <i class="fa fa-close" ng-if="vm.editable" ng-click="vm.remove()"></i>
    </div>
    <div class="item--view">
        <strong class="m-b-xs">{{vm.name}}</strong>
        <div class="item--settings__block">
            <strong class="text-primary" ng-if="vm.emptyBots">Бот не настроен</strong>
            <div class="item--settings__item"
                 ng-repeat="messenger in vm.messengers"
                 ng-if="vm.showBot(messenger)"
                 ng-class="{'error-bots': !vm.workBot(messenger)}"
                 title="{{vm.getPlaceholder(messenger)}}"
                 style="background-image: url('/images/mailing_selected_bot_{{messenger}}.svg');"
            >
            </div>
        </div>
    </div>
</div>
