<div class="selected--bots__wrapper">
    <div class="bots--block" ng-if="vm.hasBots">
        <h4>Боты</h4>
        <mailing.selected-bot-item class="selected--bots__item"
                                   ng-repeat="item in vm.bots track by item.id"
                                   data="item"
                                   remove-request="vm.removeBot(item.id)"
                                   status="vm.status"
        ></mailing.selected-bot-item>
        <div class="added--bots__wrapper" ng-if="vm.editable">
            <button class="added--bots" ng-click="vm.addBot()">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="bots--block__null" ng-if="!vm.hasBots && vm.editable">
        <button class="added--bots__null" ng-click="vm.addBot()">Добавить бота</button>
    </div>
</div>
