<div class="mailing-item__wrapper">
    <div class="mailing-item__mainContent"
         ng-style="{'--state-mailing-color': vm.statusColor}">
        <mailing-indicators class="mailing-item__indicators"
                            on-open="vm.onOpenBundleOfMailings()"
                            data="vm.data"
                            on-deleted="vm.onItemDeleted()"
                            on-duplicate="vm.onItemDuplicated()"
                            is-inner-item="true"
        ></mailing-indicators>
    </div>
    <div class="mailing-item__chain" ng-if="vm.showBundleOfMailings">
        <div class="chain--item">
            <mailing-indicators class="mailing-item__indicators"
                                ng-repeat="message in vm.messages track by $index"
                                data="message"
                                is-inner-item="false"
            ></mailing-indicators>
        </div>
    </div>
</div>



